 NEXTAUTH_SECRET='secret'

# if use local database
# DATABASE_URL="postgresql://postgres:123456@localhost:5432/pm"  

# if you use supabase database 
 DATABASE_URL="postgresql://postgres.bcgnuzppmeavuvdscgax:123456@aws-1-eu-central-1.pooler.supabase.com:6543/postgres"
 DIRECT_URL="postgresql://postgres.bcgnuzppmeavuvdscgax:123456@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"
